@inherits LayoutComponentBase
<div class="page">
    <main>
        <NavigationBar></NavigationBar>
        @* <NavMenu /> *@
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>
